#logo
{
    position: relative;
    top: 4px;
}

#content-pane
{
    position: absolute;
    top: 51px;
}

#login-panel
{
    margin-top: 64px;
}

#result
{
    margin-top: 64px;
}

#sidebar
{
    width: 200px;
}

.inner-link
{
    cursor: pointer;
}

.container
{
    width: 900px;
}

.inline
{
    display: inline;
}

.close-inline
{
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    opacity: 0.2;
    color: #fff;
    background: transparent;
    border: 0;
    padding: 0;
    position: relative;
    top: 3px;
}

.close-inline:hover
{
    opacity: 0.5;
    text-decoration: none;
    cursor: pointer;
}

.close-offset
{
    position: relative;
    top: 0;
    right: 4px;
}

.form-control-inline
{
    width: 150px;
}

.glyphicon
{
    position: relative;
    top: 2px;
}

/* Dialog fixes */
.modal {
    display: block;
    height: 0;
    overflow: visible;
}
.modal-body:before,
.modal-body:after {
    display: table;
    content: " ";
}
.modal-header:before,
.modal-header:after {
    display: table;
    content: " ";
}

/* Conditions */

.condition
{
    margin: 4px 0;
    padding: 6px 0 6px 12px;
    border-style: solid;
    border-width: 0 0 0 6px;
}

.condition h4
{
    margin: 0;
}

.condition-field
{
    border-color: #357ebd;
    background-color: #f4f8fa;
}

.condition-relation
{
    border-color: #ed9c28;
    background-color: #faf8f0;
}

.condition-container
{
    width: 650px;
    margin: 30px 0 10px 0;
}

.restriction-header
{
    display: inline-block;
    height: 12px;
}