<div style="padding-top:64px">
    <div class="pull-right" id="sidebar">
        <div class="panel panel-default">
            <div class="panel-heading">
                Filter
            </div>
            <div class="panel-body">
                <div class="form">
                    <div class="form-group">
                        <label class="control-label">Group by</label>
                        <div class="checkbox" ng-repeat="curr in getGroupFields()">
                            <label>
                                <input type="checkbox" ng-model="curr.selected" />
                                {{curr.name}}
                            </label>
                        </div>
                    </div>
                    <a href="" ng-click="find()" class="btn btn-primary btn-lg btn-block">Show me!</a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h2>
            How many
            <div class="dropdown inline">
                <a data-toggle="dropdown" href="" class="dropdown-toggle inner-link">{{inquiryType.name}}</a>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="inq in inquiryTypes">
                        <a href="" ng-click="setInquiryType(inq)">{{inq.name}}</a>
                    </li>
                </ul>
            </div>
            are there on Publ.com?
        </h2>
        <h3>
            <a href="">Where...</a>
        </h3>
    </div>
</div>