<div class="pull-right" id="sidebar">
    <div class="panel panel-default">
        <div class="panel-heading">
            Filter
        </div>
        <div class="panel-body">
            <div class="form">
                <div class="form-group">
                    <div class="btn-group btn-group-justified">
                        <a href="" class="btn btn-default btn-xs" bs-popover="'save-popover'" data-placement="left" data-container="#sidebar">Save inquiry</a>
                        <a href="" ng-click="clear()" class="btn btn-default btn-xs">Clear</a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Group by</label>
                    <div class="checkbox" ng-repeat="curr in groupFields">
                        <label>
                            <input type="checkbox" ng-model="curr.selected" />
                            {{curr.name}}
                        </label>
                    </div>
                </div>
                <a href="" ng-click="inquire()" ng-disabled="isSending" class="btn btn-primary btn-lg btn-block">{{inquireCaption()}}</a>
            </div>
        </div>
    </div>
</div>
<div class="main-container">
    <h2>
        How many
        <div class="dropdown inline">
            <a data-toggle="dropdown" href="" class="dropdown-toggle inner-link">{{inquiryType.name}}</a>
            <ul class="dropdown-menu" role="menu">
                <li ng-repeat="inq in inquiryTypes">
                    <a href="" ng-click="setInquiryType(inq)">{{inq.name}}</a>
                </li>
            </ul>
        </div>
        are there on Publ.com?
    </h2>
    <div class="condition-container">
        <a href="" ng-click="pickCondition()" class="btn btn-default btn-lg" title="Add condition">
            <span class="glyphicon glyphicon-search"></span> Where...
        </a>
        <div style="margin-top: 24px">
            <div ng-repeat="cond in conditions" class="condition condition-{{cond.kind}}" ng-include="'condition-tree-branch'"
                 ng-mouseenter="cond.isHovered=true" ng-mouseleave="cond.isHovered=false"></div>
        </div>
    </div>
    <div class="condition-container" ng-show="!!inquiryResult && !isSending">
        <div class="panel panel-danger" ng-hide="inquiryResult.Success">
            <div class="panel-heading">
                Whoops!
            </div>
            <div class="panel-body">
                There has been an error processing your inquiry! We apologize for inconvenience!
                <br />
                <code>
                    {{inquiryResult.Query}}
                </code>
            </div>
        </div>
        <div class="panel panel-default" ng-show="inquiryResult.Success">
            <div class="panel-heading">Result</div>
            <div class="panel-body">
                <p>
                    There are <b>{{inquiryResult.Count}}</b> matching {{inquiryType.name}} on Publ.com!
                </p>
                <table class="table table-bordered table-nonfluid" ng-show="inquiryResult.IsGrouped">
                    <thead>
                    <tr>
                        <th width="20%">
                            Count
                        </th>
                        <th ng-repeat="col in inquiryResult.Headers">
                            {{col}}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="row in inquiryResult.Rows">
                        <td ng-repeat="col in row">
                            {{col}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="condition-tree-branch">
    <div>
        <a href="" ng-click="removeCondition(cond)" ng-show="cond.isHovered" class="close close-offset" title="Remove condition">
            <span class="glyphicon glyphicon-remove"></span>
        </a>
        <span ng-bind-html="cond.text"></span>
        <span class="restriction-header">
            <a href="" class="btn btn-default btn-xs" ng-click="pickCondition(cond)" ng-show="showWhere(cond)">Where...</a>
        </span>
        <div ng-show="cond.kind == 'relation'">
            <div ng-repeat="cond in cond.subs" class="condition condition-{{cond.kind}}" ng-include="'condition-tree-branch'"
                 ng-mouseenter="cond.isHovered=true" ng-mouseleave="cond.isHovered=false"></div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="save-popover">
    <form ng-submit="save()" class="form form-inline">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Inquiry name" ng-model="saveInfo.name" />
        </div>
        <button type="submit" class="btn btn-primary" ng-disabled="!canSave()">Save</button>
    </form>
</script>