<div ng-hide="isEmpty()">
    <h2>Saved inquiries:</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th width="40%">Caption</th>
                <th>Inquiry type</th>
                <th>Conditions</th>
                <th>Grouping</th>
                <th width="48px" style="text-align: center"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="curr in list">
                <td><strong><a href="" ng-click="load(curr)">{{curr.caption}}</a></strong></td>
                <td><tt>{{getType(curr)}}</tt></td>
                <td ng-bind-html="getConditions(curr)"></td>
                <td ng-bind-html="getGrouping(curr)"></td>
                <td align="center">
                    <a href="" ng-click="remove(curr)" class="close">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div ng-show="isEmpty()">
    <h2>No inquiries have been saved yet.</h2>
    <p>Feel free to <a href="#/main">create a new inquiry</a> to Publ.com and press the <tt>Save</tt> button.</p>
</div>